Body{
    background-image: url(images/883193b4-17c5-4251-911e-d0e31bc26358.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ma{
    text-align: center;
}

.pa {
    border: 60px solid white;
    height: 80vh;
    width: 85%;
    padding: 10px 15px;
    background-color: white;
    margin: auto;
    position: center;
}

input {
    width: 90%;
}

textarea {
    width: 90%;
    resize: none;
    height: 100px;
}

button {
    width: 80%;
    color: white;
    background-color: blue;
}

/* Extra small devices (phones, less than 576px) */
